{% extends 'base.html' %}
{% block title %}
Cart
{% endblock title %}
{% block body %}
<div class="ui grid container">
      <div class="row">
            <div class="column four wide">
                  back
            </div>

            <div class="column four wide">
                  all Total quantity
            </div>
            <div class="column four wide">
                  all total cost
            </div>
            <div class="column four wide">
                  <button class="ui inverted blue basic button fluid">checkout</button>
            </div>
      </div>
      <div class="row">
            <div class="column three wide">
                  <h3>img</h3>

            </div>
            <div class="column three wide">
                  <h3>name</h3>
            </div>
            <div class="column three wide">
                  <h3> price</h3>
            </div>
            <div class="column four wide">
                  <h3>Quantity</h3>
            </div>
            <div class="column three wide">
                  <h3>total</h3>
            </div>
      </div>
      <!-- loop starts from here  -->

      <div class="row">
            <div class="column three wide">
                  <img style="width: auto;
    height: 64px;" class="row-image" src="../static/images/headphones.jpg" alt=" product images">
            </div>
            <div class="column three wide">
                  <h4> watch </h4>
            </div>
            <div class="column three wide">
                  <h4> Rs.232 </h4>
            </div>
            <div class="column four wide">
                  <h4> 2 </h4>
            </div>
            <div class="column three wide">
                  <h4> 464<h4>
            </div>
      </div>
      <div class="row">
            <div class="column three wide">
                  <img style="width: auto;
    height: 64px;" class="row-image" src="../static/images/punch.jpg" alt=" product images">
            </div>
            <div class="column three wide">
                  <h4> watch </h4>
            </div>
            <div class="column three wide">
                  <h4> Rs.232 </h4>
            </div>
            <div class="column four wide">
                  <h4> 2 </h4>
            </div>
            <div class="column three wide">
                  <h4> 464<h4>
            </div>
      </div>
      <div class="row">
            <div class="column three wide">
                  <img style="width: auto;
    height: 64px;" class="row-image" src="../static/images/watch.jpg" alt=" product images">
            </div>
            <div class="column three wide">
                  <h4> watch </h4>
            </div>
            <div class="column three wide">
                  <h4> Rs.232 </h4>
            </div>
            <div class="column four wide">
                  <h4> 2 </h4>
            </div>
            <div class="column three wide">
                  <h4> 464<h4>
            </div>
      </div>
      <div class="row">
            <div class="column three wide">
                  <img style="width: auto;
    height: 64px;" class="row-image" src="../static/images/book.jpg" alt=" product images">
            </div>
            <div class="column three wide">
                  <h4> watch </h4>
            </div>
            <div class="column three wide">
                  <h4> Rs.232 </h4>
            </div>
            <div class="column four wide">
                  <h4> 2 </h4>
            </div>
            <div class="column three wide">
                  <h4> 464<h4>
            </div>
      </div>

</div>
<section style="width: 100%; height:80vh; text-align:center;" class="pic">
      <h1>these is the tranding and realted productes</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, sit! Explicabo at omnis neque!
            Perferendis rem ipsa quam officia minima dolores vitae voluptates doloremque inventore commodi ex
            quibusdam sapiente culpa minus ipsum mollitia eligendi nesciunt amet nulla quia, animi magni? Rem
            corrupti molestias veniam quasi cumque ex vero consequuntur provident dolorem id minima voluptatibus
            similique fugiat aliquam, modi minus saepe porro est vitae expedita ducimus nulla sapiente! Illum
            laboriosam laborum repellendus corporis nulla aspernatur consequatur officia porro reiciendis
            distinctio ab iure in soluta, sed illo maiores, quasi repellat nemo impedit dolores fugiat. Fugit
            velit repellat libero dolorem? Adipisci dolor, suscipit nam earum dolores quos at, fuga facilis quia
            non a quod pariatur amet asperiores accusamus ratione laborum, architecto autem quidem deleniti
            fugiat. Officia, odit unde alias, atque corrupti placeat tempore et excepturi magnam adipisci iure ab
            doloremque cum rem veritatis pariatur similique eligendi architecto nobis! Quos natus eveniet alias,
            laboriosam assumenda eum incidunt illum dolor enim rerum facere repudiandae dolores. Cupiditate ullam
            iste cum earum aspernatur, quod pariatur cumque expedita beatae eveniet fuga dolorum! Dignissimos,
            soluta a. Laboriosam ducimus alias facere quisquam quaerat iste aperiam dignissimos nulla placeat
            temporibus rerum amet veritatis, quis reiciendis quibusdam ad quasi voluptas! Ab, magnam.</p>
</section>

<section style="width: 100%; height:80vh; text-align:center;" class="pic">
      <h1>web browser histey.</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, sit! Explicabo at omnis neque!
            Perferendis rem ipsa quam officia minima dolores vitae voluptates doloremque inventore commodi ex
            quibusdam sapiente culpa minus ipsum mollitia eligendi nesciunt amet nulla quia, animi magni? Rem
            corrupti molestias veniam quasi cumque ex vero consequuntur provident dolorem id minima voluptatibus
            similique fugiat aliquam, modi minus saepe porro est vitae expedita ducimus nulla sapiente! Illum
            laboriosam laborum repellendus corporis nulla aspernatur consequatur officia porro reiciendis
            distinctio ab iure in soluta, sed illo maiores, quasi repellat nemo impedit dolores fugiat. Fugit
            velit repellat libero dolorem? Adipisci dolor, suscipit nam earum dolores quos at, fuga facilis quia
            non a quod pariatur amet asperiores accusamus ratione laborum, architecto autem quidem deleniti
            fugiat. Officia, odit unde alias, atque corrupti placeat tempore et excepturi magnam adipisci iure ab
            doloremque cum rem veritatis pariatur similique eligendi architecto nobis! Quos natus eveniet alias,
            laboriosam assumenda eum incidunt illum dolor enim rerum facere repudiandae dolores. Cupiditate ullam
            iste cum earum aspernatur, quod pariatur cumque expedita beatae eveniet fuga dolorum! Dignissimos,
            soluta a. Laboriosam ducimus alias facere quisquam quaerat iste aperiam dignissimos nulla placeat
            temporibus rerum amet veritatis, quis reiciendis quibusdam ad quasi voluptas! Ab, magnam.</p>
</section>
<section style="width: 100%; height:80vh; text-align:center;" class="pic">
      <h1>aids</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, sit! Explicabo at omnis neque!
            Perferendis rem ipsa quam officia minima dolores vitae voluptates doloremque inventore commodi ex
            quibusdam sapiente culpa minus ipsum mollitia eligendi nesciunt amet nulla quia, animi magni? Rem
            corrupti molestias veniam quasi cumque ex vero consequuntur provident dolorem id minima voluptatibus
            similique fugiat aliquam, modi minus saepe porro est vitae expedita ducimus nulla sapiente! Illum
            laboriosam laborum repellendus corporis nulla aspernatur consequatur officia porro reiciendis
            distinctio ab iure in soluta, sed illo maiores, quasi repellat nemo impedit dolores fugiat. Fugit
            velit repellat libero dolorem? Adipisci dolor, suscipit nam earum dolores quos at, fuga facilis quia
            non a quod pariatur amet asperiores accusamus ratione laborum, architecto autem quidem deleniti
            fugiat. Officia, odit unde alias, atque corrupti placeat tempore et excepturi magnam adipisci iure ab
            doloremque cum rem veritatis pariatur similique eligendi architecto nobis! Quos natus eveniet alias,
            laboriosam assumenda eum incidunt illum dolor enim rerum facere repudiandae dolores. Cupiditate ullam
            iste cum earum aspernatur, quod pariatur cumque expedita beatae eveniet fuga dolorum! Dignissimos,
            soluta a. Laboriosam ducimus alias facere quisquam quaerat iste aperiam dignissimos nulla placeat
            temporibus rerum amet veritatis, quis reiciendis quibusdam ad quasi voluptas! Ab, magnam.</p>
</section>
</div>
{% endblock body %}