{% extends 'base.html' %}
{% block title %}
these is for the payment and summery of the list and items that in the lsit.
{% endblock title %}
{% block body %}

<div class="ui container">
      <section class="1">
            <h1>these is for the paymants of the shopping products .</h1>
            <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, voluptate? Accusantium, cupiditate!
                  Labore enim blanditiis ea! Ea voluptatibus illo culpa praesentium totam ullam tempore reiciendis
                  fugiat saepe obcaecati delectus qui, voluptatem neque, dolorum velit deleniti temporibus unde dolores?
                  Voluptatum libero eius pariatur, quos aliquid maiores numquam porro laudantium perspiciatis nulla
                  minima magni sit velit quae facere tempora quidem necessitatibus magnam corrupti enim consectetur
                  voluptatem tempore fugit. Consectetur aliquam recusandae rem eos voluptatibus, dolorem ea vero at
                  totam earum numquam excepturi suscipit fugiat in. Earum, voluptatum accusamus reiciendis ullam dicta
                  magni officiis aperiam, hic quo cupiditate nihil veniam doloremque sint illo?
            </p>
      </section>
      <section class="1">
            <h1>these is for the home cash payment </h1>
            <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, voluptate? Accusantium, cupiditate!
                  Labore enim blanditiis ea! Ea voluptatibus illo culpa praesentium totam ullam tempore reiciendis
                  fugiat saepe obcaecati delectus qui, voluptatem neque, dolorum velit deleniti temporibus unde dolores?
                  Voluptatum libero eius pariatur, quos aliquid maiores numquam porro laudantium perspiciatis nulla
                  minima magni sit velit quae facere tempora quidem necessitatibus magnam corrupti enim consectetur
                  voluptatem tempore fugit. Consectetur aliquam recusandae rem eos voluptatibus, dolorem ea vero at
                  totam earum numquam excepturi suscipit fugiat in. Earum, voluptatum accusamus reiciendis ullam dicta
                  magni officiis aperiam, hic quo cupiditate nihil veniam doloremque sint illo?
            </p>
      </section>
      <section class="1">
            <h1>these is for rant.</h1>
            <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, voluptate? Accusantium, cupiditate!
                  Labore enim blanditiis ea! Ea voluptatibus illo culpa praesentium totam ullam tempore reiciendis
                  fugiat saepe obcaecati delectus qui, voluptatem neque, dolorum velit deleniti temporibus unde dolores?
                  Voluptatum libero eius pariatur, quos aliquid maiores numquam porro laudantium perspiciatis nulla
                  minima magni sit velit quae facere tempora quidem necessitatibus magnam corrupti enim consectetur
                  voluptatem tempore fugit. Consectetur aliquam recusandae rem eos voluptatibus, dolorem ea vero at
                  totam earum numquam excepturi suscipit fugiat in. Earum, voluptatum accusamus reiciendis ullam dicta
                  magni officiis aperiam, hic quo cupiditate nihil veniam doloremque sint illo?
            </p>
      </section>
</div>
{% endblock body %}